<script>
    $(document).on('ready page:load', function () {
    tinymce.remove();
    tinymce.init({selector:'textarea'});
    });    
</script>


            <div class="row">
            <div class=form-header>Name of Game</div>
            <div class='field-form-group'><%= text_field :game, :title, id: 'Title', size: '65' %></div>
            
            <div class=form-header>Description</div>
            <div class='field-form-group'><%= text_area :game, :description, id: 'Description', class: "tinymce"%></div>
            </div>

            <div class="row">
                
                <div class="col-sm-6">
                <div class=form-header>Charity A</div>
                <div class='field-form-group'><%= text_field :game, :charityA_title, id: 'Charity A', size: "50" %></div>
    
                <div class=form-header>Description A</div>
                <div class='field-form-group'><%= text_area :game, :descriptionA, id: 'DescriptionA', class: 'tinymce' %></div>
                </div>
                
                <div class="col-sm-6">
                <div class=form-header>Charity B</div>
                <div class='field-form-group'><%= text_field :game, :charityB_title, id: 'Charity B', size: "50" %></div>
    
                <div class=form-header>Description B</div>
                <div class='field-form-group'><%= text_area :game, :descriptionB, id: 'DescriptionB', class: 'tinymce' %></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                <div class=form-header>Goal Amount of Money to Reach</div>
                <div class='field-form-group'><%= text_field :game, :total_money, id: 'TotalMoney' %></div>
                </div>
                
                <div class="col-sm-6">
                <div class=form-header>Per Person Amount</div>
                <div class='field-form-group'><%= text_field :game, :per_transaction, id: 'AmountPerVote' %></div>
                </div>
            </div>
    
            <div class=form-header>Tutorial?</div>
            <div class='field-form-group'><%= check_box :game, :tutorial, {}, true, false %></div>

            <div class=form-header>Show Results?</div>
            <div class='field-form-group'><%= check_box :game, :show_results, {}, true, false %></div>

        </div>