 <script>
//     $(document).on('ready page:load', function () {
//     tinymce.remove();
//     tinymce.init({selector:'textarea'});
//     });    
 </script>


            <div class="row">
            <div class=form-header>Name of Game</div>
            <div class='field-form-group'><%= text_field :game, :title, id: 'Title', size: '65' %></div>

            <div class='field-form-group'>
              <%= radio_button(:game, :is_private, true, :id=>"private_game", checked: true) %>
              <%= label_tag(:private, "Private game") %>
              <small>Your game will be unlisted and only accessible through a link.</small>
              <br>
              <%= radio_button(:game, :is_private, false, :id=>"public_game", checked: false) %>
              <%= label_tag(:public, "Public game") %>
              <small>Your game will be listed publicly and can be played by anyone.</small>

              <!--<%= radio_button_tag("game[game_access_level]", "private", true, :id=>"private_game") %>-->
              <!--<%= label_tag(:private, "Private game") %>-->

              <!--<br>-->
              <!--<%= radio_button_tag("game[game_access_level]", "public", false, :id=>"public_game") %>-->
              <!--<%= label_tag(:public, "Public game") %>-->


            </div>


            <div class=form-header>Description</div>
            <div class='field-form-group'><%= text_area :game, :description, id: 'Description', rows: "7", cols: "100"%></div>
            </div>

            <div class="row">
                
                <div class="col-sm-6">
                <div class=form-header>Charity A</div>
                <div class='field-form-group'><%= text_field :game, :charityA_title, id: 'Charity A', size: "50" %></div>
    
                <div class=form-header>Description A</div>
                <div class='field-form-group'><%= text_area :game, :descriptionA, id: 'DescriptionA', rows: "7", cols: "50"%></div>
                
                <!-- <div class="form-header">Charity A Image</div> -->
                <!--<div class="field-form-group"><%= file_field :game, :charityA_image, id: 'CharityA-Image' %></div> -->
                <!-- <div class="field-form-group"><%= hidden_field :game, :charityA_image_cache, id: 'CharityA-Image-hidden' %></div> -->
                </div>
                
                <div class="col-sm-6">
                <div class=form-header>Charity B</div>
                <div class='field-form-group'><%= text_field :game, :charityB_title, id: 'Charity B', size: "50" %></div>
    
                <div class=form-header>Description B</div>
                <div class='field-form-group'><%= text_area :game, :descriptionB, id: 'DescriptionB', rows: "7", cols: "50" %></div>
                
                <!-- <div class="form-header">Charity B Image</div> -->
                <!--<div class="field-form-group"><%= file_field :game, :charityB_image, id: 'CharityB-Image' %></div> -->
                <!-- <div class="field-form-group"><%= hidden_field :game, :charityB_image_cache, id: 'CharityB-Image-hidden'%></div> -->
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                <div class=form-header>Goal Amount of Money to Reach</div>
                <div class='field-form-group'><%= text_field :game, :total_money, id: 'TotalMoney' %></div>
                </div>
                
                <div class="col-sm-6">
                <div class=form-header>Per Person Amount</div>
                <div class='field-form-group'><%= text_field :game, :per_transaction, id: 'AmountPerVote' %></div>
                </div>
            </div>
            
            <div class="row">
                <div class=form-header>Expiration Date</div>
                <div class='field-form-group'><%= text_field :game, :expiration_time, "data-provide" => 'datepicker' %></div>
            </div>
            
            <div class="row">
                <div class=form-header>Tutorial?</div>
                <div class='field-form-group'><%= check_box :game, :tutorial, {}, true, false %></div>
            </div>

            <div class="row">
                <div class=form-header>Show Results?</div>
                <div class='field-form-group'><%= check_box :game, :show_results, {}, true, false %></div>
            </div>
