<div class="container">
    <div class="row">
        <div class="page-header">
            <div class="pull-right">
                <%= link_to archive_path, class:'btn btn-default' do %>
                    <i class="fa fa-arrow-left" aria-hidden="true" style="padding-right: 5px"></i>Go Back to Expired Games List
                <% end %>
                <% if @showResults == true%>
                    <%= link_to results_path(params[:resource_id]), class:'btn btn-default' do %>
                        <i class="fa fa-bar-chart" aria-hidden="true" style="padding-right: 5px"></i>See Results for this Giving Game
                    <% end %>
                <% end %>
            </div>
            <h1><small>Play the game:</small> <small class="game-name-header"><%=@title %></small></h1>
        </div>
    </div>
    <div class="row top-buffer" style="text-align: center;">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><%= @description %></h4>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-lg-6" style="text-align: center">
            <div style="height: 250px; margin-top: 50px">
                <% if @game.charityA_image_identifier.nil? %>
                    <%= image_tag asset_path("default-image1.png"), :style => "width: 200px; max-height: 250px;"%>
                <% else %>
                    <%= image_tag @game.charityA_image_url, :style => "width: 300px; margin-bottom: 50px;"%>
                <% end %>
            </div>
            <div class="row" style="margin-bottom: 30px">
                 <div class="col-sm-6 col-sm-offset-3">
                     <span style="text-align: center; word-wrap: break-word;"><%= @descriptionA %></span>
                </div>
            </div>
            <%= button_to "Donate to #{@charityA}", check_played_path(:id =>@game.id, :charity => @charityA, :show_results => @showResults), :class => "btn btn-primary btn-lg", :disabled => true %>
        </div>
        <div class="col-lg-6" style="text-align: center; word-wrap: break-word">
            <div style="height: 250px; margin-top: 50px">
                <% if @game.charityB_image_identifier.nil? %>
                    <%= image_tag asset_path("default-image2.png"), :style => "width: 275px; height: 195px;"%>
                <% else %>
                    <%= image_tag @game.charityB_image_url, :style => "width: 300px; max-height: 275px; margin-bottom: 50px;"%>
                <% end %>
            </div>
            <div class="row" style="margin-bottom: 30px">
                <div class="col-sm-6 col-sm-offset-3">
                     <span style="text-align: center; word-wrap: break-word"><%= @descriptionB %></span>
                </div>
            </div>
            <%= button_to "Donate to #{@charityB}", check_played_path(:id =>@game.id, :charity => @charityB, :show_results => @showResults), :class => "btn btn-primary btn-lg", :disabled => true %>
        </div>
    </div>
</div>



