<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "new_style.css" %>
</head>
<% params %>
<body>
    <div id="container" class="container">
        <div id="flash"><% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %></div>
        <div id=header>Edit Giving game <%=@game.title %> </div>

        <%= render 'giving_game_form' %>
        <%= link_to "Back", user_profile_path(current_user.id)%></a>
    </div>
</body>
