
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "new_style.css" %>
</head>

<script>
    $(document).on('ready page:load', function () {
    tinymce.remove();
    tinymce.init({selector:'textarea'});
    });    
</script>

<body>
    <div id="container" class="container">
        
        <div class='well'><div id=header>Create a new Giving game</div></div>
        <div class='form'>
        <%= form_tag create_game_path, method: :post, multipart: true do %>
            <%= render 'giving_game_form' %>
        
            <div class="actions-form-group">
                <%= submit_tag 'Submit New Game' %>
            </div>
        <% end %>            
        </div>
        

    </div>
</body>

<%= tinymce %>