
<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "new_style.css" %>
</head>

<!--<script>-->
<!--    $(document).on('ready page:load', function () {-->
<!--    tinymce.remove();-->
<!--    tinymce.init({selector:'textarea'});-->
<!--    });    -->
<!--</script>-->

<body>
    <div class="container">
        
        <div class='page-header' style="text-align: center; margin-bottom: 75px"><h3 style="color: #244354">Create a new Giving game</h3></div>
        <div class='form'>
        <%= form_tag create_game_path, method: :post, multipart: true do %>
            <%= render 'giving_game_form' %>
        
            <div class="actions-form-group" style="margin-top: 25px">
                <%= submit_tag 'Submit New Game', :class => "btn btn-primary"%>
            </div>
        <% end %>            
        </div>
        

    </div>
</body>

<!--<%= tinymce %>-->