<div class="container">
    <div class="row">
        <div class="page-header"><h1><small>Play the game:</small> <small class="game-name-header"><%=@title %></small></h1></div>
    </div>
    <div class="row top-buffer" style="text-align: center">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><%=raw @description %></h4>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-lg-6" style="text-align: center">
            <div style="height: 275px">
                <img src="http://41.media.tumblr.com/tumblr_mc7xf57QGn1qfg8rlo1_1280.jpg" style="width: 300px; margin-bottom: 50px">
            </div>
            <div class="row" style="margin-bottom: 30px">
                 <div class="col-sm-6 col-sm-offset-3">
                     <span style="text-align: center"><%= raw @descriptionA %></span>
                </div>
            </div>
            <!--<%= button_tag "Donate to #{@charityA}", :type => "button", :remote => true, :onclick => "vote_success('#{@charityA}', #{@showResults});", :class => "btn btn-primary btn-lg" %>-->
            <%= button_to "Donate to #{@charityA}", check_played_path(:id =>@game.id, :charity => @charityA, :show_results => @showResults), :class => "btn btn-primary btn-lg" %>
        </div>
        <div class="col-lg-6" style="text-align: center">
            <div style="height: 275px">
                <img src="https://img.buzzfeed.com/buzzfeed-static/static/2014-07/16/11/enhanced/webdr10/enhanced-20139-1405523602-5.jpg" style="width: 300px; margin-bottom: 50px">
            </div>
            <div class="row" style="margin-bottom: 30px">
                <div class="col-sm-6 col-sm-offset-3">
                     <span style="text-align: center"><%= raw @descriptionB %></span>
                </div>
            </div>
            <!--<%= button_tag "Donate to #{@charityB}", :type => "button", :remote => true, :onclick => "vote_success('#{@charityB}', #{@showResults});", :class => "btn btn-primary btn-lg" %>-->
            <%= button_to "Donate to #{@charityB}", check_played_path(:id =>@game.id, :charity => @charityB, :show_results => @showResults), :class => "btn btn-primary btn-lg" %>
        </div>
    </div>
</div>

<script>
    var vote_success = function(name, show_results) {
        sweetAlert({
            title: 'Donation Successful!',
            text: 'Your choice: ' + name,
            type: 'success',
        }, function() {
            if (show_results) {
                if (name == '<%= @charityOne %>') {
                    window.location = '<%= results_path(:id => @game.id, :charity => @charityOne) %>';
                } else {
                    window.location = '<%= results_path(:id => @game.id, :charity => @charityTwo) %>';
                }
            } else {
                window.location = '<%= play_index_path %>';
            }
        });
    };
</script>
