<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "play_index_style.css" %>
</head>

<body>
   <div class="container">
      <div class="row">
         <div class="col-lg-10 col-lg-offset-1">
            <div class="page-header">
               <div class="pull-right">
                  <%= link_to archive_path, class:'btn btn-default btn-sm' do %>
                     <i class="fa fa-hourglass-end" aria-hidden="true" style="padding-right: 5px"></i>Go to expired games
                  <% end %>
               </div>
               <h3 style="color: #244354">Play an Existing Giving Game</h3>
            </div>
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Game Title</th>
                     <th >Goal</th>
                     <th>Money Per Vote</th>
                     <th>Tutorial</th>
                     <th>Can See Results</th>
                  </tr>
               </thead>
               <tbody>
                  <% @games.each do |game| %>
                     <tr style="text-align: center">
                        <td style="text-align: left"><%= link_to game.title, play_game_path(game.resource_id)%></a></td>
                        <td>$<%= game.total_money%></td>
                        <td>$<%= game.per_transaction %></td>
                        <td><% if game.tutorial %>&#10004;<% end %></td>
                        <td><% if game.show_results %>&#10004;<% end %></td>
                     </tr>
                  <% end %>
               </tbody>
            </table>
         </div>
      </div>
   </div>
   <div id="counter"> Total Number of Games: <%= @counter.to_s %></div>

</body>

<script>
   if ('<%= @charityVotedFor %>' !== '') {
      sweetAlert({
        title: 'Donation Successful!',
        text: 'Your choice: ' + '<%= @charityVotedFor %>',
        type: 'success',
      });
   }
</script>