<h1>Play the game: <%=@title %></h1>

<p><%= @description %></p>

<%= button_to "Donate to #{@charityOne}", :remote => true, :onclick => "vote_success('#{@charityOne}', #{@showResults});" %>
<%= button_to "Donate to #{@charityTwo}", :remote => true, :onclick => "vote_success('#{@charityTwo}', #{@showResults});", :style => 'margin-top: 10px'%>

<script>
    var vote_success = function(name, show_results) {
    sweetAlert({
        title: 'Donation Successful!',
        text: 'Your choice: ' + name,
        type: 'success',
    }, function() {
        if (show_results) {
            window.location = '<%= results_path(:game => @game) %>';
        } else {
            window.location = '<%= play_index_path %>';
        }
    });
};
</script>