<div class="container">
    <div class="row">
        <div class="page-header">
            <div class="pull-right">
                <% if @expired %>
                    <%= link_to archive_game_path(params[:id]), class:'btn btn-default' do %>
                        <i class="fa fa-arrow-left" aria-hidden="true" style="padding-right: 5px"></i>Go back to Game Page
                    <% end %>
                    <%= link_to archive_path, class:'btn btn-default' do %>
                        <i class="fa fa-hourglass-end" aria-hidden="true" style="padding-right: 5px"></i>Go to Expired Games List
                    <% end %>
                <% else %>
                    <%= link_to play_index_path, class:'btn btn-default' do %>
                        <i class="fa fa-list-ul" aria-hidden="true" style="padding-right: 5px"></i>Go to Games List
                    <% end %>
                <% end %>
            </div>
            <h1><small>Results:</small> <small class="game-name-header"><%=@title %></small></h1>
        </div>
    </div>
    <div class="row top-buffer" style="text-align: center">
         <div class="panel panel-default">
            <div class="panel-body">
                <% if @leadingCharity == nil %>
                    <h3>The votes are tied!</h3>
                <% elsif @expired %>
                    <h3>Winning Charity: <%= @leadingCharity %></h3>
                <% else %>
                    <h3>Leading Charity: <%= @leadingCharity %></h3>
                <% end %> 
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-lg-6" style="text-align: center">
            <button class="btn <%= 'btn-success' if @leadingCharity == @charityA %><%= 'btn-danger' if @leadingCharity == @charityB %><%= 'btn-primary' if @leadingCharity == nil %> btn-lg" type="button">
              Votes for <%= @charityA %>: <span class="badge left-buffer"><%= @votesA %></span>
            </button>
        </div>
        <div class="col-lg-6" style="text-align: center">
            <button class="btn <%= 'btn-success' if @leadingCharity == @charityB %><%= 'btn-danger' if @leadingCharity == @charityA %><%= 'btn-primary' if @leadingCharity == nil %> btn-lg" type="button">
              Votes for <%= @charityB %>: <span class="badge left-buffer"><%= @votesB %></span>
            </button>
        </div>
    </div>
</div>

<script>
    if (!<%= @expired %>) {
        sweetAlert({
            title: 'Donation Successful!',
            text: 'Your choice: ' + '<%= @charityVotedFor %>',
            type: 'success',
        });
    }
</script>

