<!DOCTYPE html>
<html>
<head>
  <title>GiverGame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Poppins:400,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand"><a>Giving Game</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', root_path%></li>
      <li><%= link_to 'Create New Game', new_game_path%></li>
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown">Play Tutorial</a>
        <ul class="dropdown-menu" id=dropdown>
            <% @tutorials.each do |tutorial| %>
              <li>
                <%= link_to tutorial.title, play_game_path(:resource_id => tutorial.resource_id) %>
              </li>
            <% end %>
        </ul>
      </li>
      <li><%= link_to 'Play Game', play_index_path %></li>
      <li><%= link_to 'View Expired Games', archive_path %></li>
      <li><% if user_signed_in? %>
          <%= link_to 'Profile', user_profile_path(current_user.id) %>
          <% end %></li>
      <li><% if user_signed_in? %>
          <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
          <% else %>
          <%= link_to 'Sign In', new_user_session_path %>
          <% end %>
      </li>
    </ul>
  </div>
</nav>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
    <% flash.each do |name, msg| -%>
      <div class="flash"><%= content_tag :div, msg, class:"alert alert-#{name}"%></div>
    <% end -%>


    </div>
  </div>
  <%= yield %>
</div>

</body>
<footer>
  <div class="footer"></div>
</footer>
</html>